html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* My CODE */

*
{
  text-decoration: none;
}

/* Header */

header h1
{
  text-align: center;
  margin: 20px 0px;
  font-size: 20px;
  font-family: times new roman;
}

header nav ul
{
  display: table;
  margin: 0 auto;
}

header nav ul li
{
  float: left;
  margin: 0 25px;
  margin-bottom: 20px;
}

header nav ul li a
{
  color: #111;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif;
}

header nav ul li a:hover
{
  transition: 1s;
  color: #f44336;
}

.header-cases
{
  display: none;
}

@media screen and (min-width: 768px) {

header div
{
    height: 80px;
    display: flex;
    margin-left: 100px;
}

header nav
{
  display: flex;
}

header div h1
{
  border-right: 2px solid #111;
  padding-right: 20px;
  line-height: 40px;
}

header nav ul
{
  margin: 20px 30px;
  line-height: 40px;
}

.header-cases
{
  display: block;
  color: #111;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700px;
  border: 1px solid #111;
  line-height: 40px;
  padding: 0px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 550px;

}

.header-cases:hover
{
  transition: 1s;
  background-color: #f44336;
}

}

/* Main */

.backimg
{
  background-image: url('background.jpg');
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.main-h1
{
  width: 300px;
  color: white;
  font-family: times new roman;
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
  padding-top: 30px;
  text-shadow: 3px 3px 10px #111;
  margin: auto;
  text-align: center;


}

main p
{
  color: white;
  font-family: italic;
  text-align: center;
  margin-top: 70px;
  text-shadow: 3px 3px 10px #111;
  line-height: 25px;
}

.box-square
{
  background-color: lightgrey;
  margin: 15px 15px;
  width: calc(100% - 30px);
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.box-square a
{
  text-decoration: none;
  color: #111;
  font-weight: 600;
}

.box-triangle
{
  background-color: lightgrey;
  margin: 15px 15px;
  width: calc(100% - 30px);
  height: 70px;
  line-height: 70px;
  text-align: center;
}

.box-triangle a
{
  text-decoration: none;
  color: #111;
  font-weight: 600;
}

@media screen and (min-width: 768px)
{

.backimg
{
  height: 50vh;
}
.main-h1
{
  width: 500px;
  padding-top: 70px;
}

.box-triangle
{
  width: calc(50% - 30px);
  height: 150px;
  line-height: 150px;
  float: left;

}

.box-square
{
  width: calc(25% - 30px);
  height: 150px;
  line-height: 150px;
  float: left;
}

.main-boxes
{
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

}

footer
{
  background-color: #111;
  overflow: hidden;
}

.icons
{
  float: right;
  margin: 20px 20px;
}

.icons ul li
{
  color: white;
  list-style: none;
  font-size: 33px;
  margin: 15px 0;
}

.footer-links
{
  float: left;
  margin: 20px 20px;
}
.footer-links ul
{
  list-style: none;
}

.footer-links ul li
{
  margin: 15px 0;
}

.footer-links ul li a
{
  color: white;
  font-size: 20px;
}

.footer-links-2
{
  display: none;
}

@media screen and (min-width: 768px)
{
  footer
  {
    width: calc(100% - 30px);
    margin: 0 auto;
    vertical-align: middle;
  }

  .footer-links-2
  {
    display: block;
    float: left;
    margin: 20px 20px;

  }

  .footer-links-2 ul
  {
    margin: 0 auto;

  }

  .footer-links-2 ul li
  {
    list-style: none;
    margin: 15px 30px;
    color: white;

  }

.footer-links-2 ul li a
{
  font-size: 20px;
  color: white;
}
}
